body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
.wrap{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
.work-place{
    display: flex;
    width: 65%;
}
.constructor{
    width: 35%;
    height: 100%;
    overflow-y: scroll;
    background: #403B4A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: -8px 0px 18px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: -8px 0px 18px 0px rgba(0,0,0,0.22);
    box-shadow: -8px 0px 18px 0px rgba(0,0,0,0.22);
}
.constructor__list{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.constructor__item{
    display: block;
    width: 100%;
    transition: 0.1s;
    box-sizing: border-box;
}
.constructor__item span{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:30px;
    transition: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
}
.constructor__item.active{
    background-color: #fff;
    padding: 15px;
}
.constructor__item.active:hover span{
    padding-left: 30px;
}
.constructor__item.active span{
    padding-left: 30px;
}
.constructor__item:hover span, .constructor__item:focus span, .constructor__item:active span{
    padding-left: 55px;
}

.edit-block{
    display: inline-block;
    width: 100%;
    background-color: #fff;
    padding: 0;
    max-height: 0;
    overflow-y: hidden;
    position: absolute;
    /*transition: 0.7s ease-out;*/
}
.constructor__item.active .edit-block{
    position: static;
    max-height: 500px;
}
.edit-inputs{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
}
.edit-part{
    width: 90%;
    border-top: 1px solid #CAEED1;
    border-bottom: 1px solid #CAEED1;
    border-left: 1px solid #CAEED1;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.edit-block__title{
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    margin: 0;
}
.edit-block__input{
    display: block;
    width: 100%;
    height: 45px;
    padding-left: 15px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
}
.edit-part .edit-block__input:not(:last-child){
    border-bottom: 1px solid #CAEED1;;
}
.edit-block__submit{
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 10%;
    font-weight: 500;
    font-size: 20px;
    background-color: #14D63A;
    border: 1px solid #14D63A;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form__textarea{
    display: block;
    width: 95%;
    height: 80px;
    border: 1px solid #14D63A;
    margin: 0 auto;
    box-sizing: border-box;
}
.show-color{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.edit__form{
    display: inline-block;
    width: 50%;
    height: 100%;
    border: 1px solid #14D63A;
}
.edit-form__body{
    height: calc(100% - 122px);
    overflow-y: scroll;
}
.edit-form__header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    background-color: #14D63A;
}
.edit-form__footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: #14D63A;
    padding: 15px;
    box-sizing: border-box;
}
.form__title{
    display: inline-block;
    margin: 0;
}
.edit__form div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 15px 10px 15px 10px;
    box-sizing: border-box;
}
.edit-form__body label{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 15px 10px 15px 10px;
    box-sizing: border-box;
}
.edit__form label input[type="text"], .edit__form div input{
    height: 30px;
    border: 1px solid #14D63A;
    border-radius: 4px;
    padding-left: 15px;
    font-size: 16px;
    margin-left: 20px;
}
.edit-form__button{
    width: 150px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin-right: 15px;
    color: #14D63A;
    font-size: 18px;
}
.final-result{
    display: inline-block;
    width: 50%;
    padding-left: 15px;
}
.final-result p{
    font-weight: 500;
    margin-bottom: 20px;
}
.final-result ul{
    list-style-type: none;
}
.final-result ul li{
    display: block;
    margin-bottom: 15px;
}