
.App {
  text-align: center;
}
.start{
  display: flex;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* START FORM BEGIN*/
.start-form{
  position: absolute;
  right: 0;
  left: 0;
  top: 150px;
  margin: 0 auto;
  display: block;
  width: 25%;
  height: auto;
  -webkit-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.25);
  box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.25);
  padding: 30px 20px 20px 20px;
  text-align: center;
}
.start-form__input{
  display: inline-block;
  height: 45px;
  font-size: 18px;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ada6a6;
}
.start-form__input_text{
  font-family: 'Roboto', sans-serif;
  width: 45%;
  padding-left: 0;
  text-emphasis: center;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}
.start-form__input_text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 300;
}
.start-form__input_text::-moz-placeholder { /* Firefox 19+ */
  font-weight: 300;
}
.start-form__input_text:-ms-input-placeholder { /* IE 10+ */
  font-weight: 300;
}
.start-form__input_text:-moz-placeholder { /* Firefox 18- */
  font-weight: 300;
}
.start-form__input_text::before{
  content: '';
  display: inline-block;
  width: 0;
  height: 1px;
  background-color: #0ba4c6;
  transition: 0.5s;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}
.start-form__input_text:hover, .start-form__input_text:active, .start-form__input_text:focus{
  outline: none;
}
.start-form__input_text:hover::before, .start-form__input_text:active::before, .start-form__input_text:focus::before{
  width: 100%;
}
.start-form__input_text:first-child{
  margin-right: 20px;
}
.start-form__input_submit{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  color: #c9c9c9;
  position: relative;
  border: 1px solid #c1c1c1;
}

/* START FORM END*/

/* MAIN-DISPLAY BEGIN*/

.one-row{
  display: flex;
  width: 100%;
  justify-content: center;
}
.one-row .one-place:not(:last-child){
  margin-right: 15px;
}
.one-place{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  background-image: url(../img/armchair1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
  cursor: pointer;
}
.one-place_checked{
  background-image: url(../img/armchair2.svg);
}
.place-container{
  position: relative;
  display: inline-block;
}
.place-tooltip{
  list-style: none;
  position: absolute;
  z-index: 1;
  top: -120%;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  border-radius: 12px;
  width: 100px;
}
.place-container:hover .place-tooltip{
  opacity: 1;
  visibility: visible;
}
.show-room{
  display: block;
  width: 80%;
  margin: 0 auto;
}
.display-img{
  display: block;
  width: 75%;
  margin: 15px auto 50px auto;
}
.order-button{
  display: block;
  margin: 30px auto 0 auto;
  width: 300px;
  height: 50px;
  background-color: #ed261c;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
/* MAIN-DISPLAY END*/

/* ORDER LIST BEGIN */

.order-wrap{
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
}
.order-wrap_show:before{
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
}
.order-list{
  list-style: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  padding: 60px 15px 15px 15px;
  background-color: #ed261c;
  color: #fff;
  margin: 0;
}

.order-item{
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px dashed #fff;
  margin-bottom: 15px;
  position: relative;
}
.order-delete{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;
  color: #ed261c;
  background-color: #fff;
  border: none;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.order-total{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  color: #f5f900;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;

}
.close-order{
  position: absolute;
  right: 15px;
  top: 15px;
  display: inline-block;
  width: 9%;
  cursor: pointer;
}
.accept-item{
  position: absolute;
  bottom:100px;
  left: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.accept-order{
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  background: none;
  border: 3px dashed #fff;
}
.one-place[data-booked="booked"]{
  background-image: url(../img/armchair3.svg);
  pointer-events : none;
}

