body{
  box-sizing: border-box;
  padding: 10px 20px 30px;
  background: #eee;
  font-family: sans-serif;
}

.wrap{
  margin: 10px 20px;
  background: #fff;
  padding: 10px 20px 30px;
}
.buttonAnimated{
    width: 100px;
    height: 30px;
    background: white;
    transition: 1s;
    outline: none;
    border-radius: 0px;
}
.buttonAnimated.animation{
  width: 350px;
  height: 50px;
  background: red;
  /*border-radius: 5px;*/
}
.eventButton{

}
.eventButton.unactive{
  background: #eee;
  color: #a8a8a8;
}

#error{
  color: red;
}

#bubbleParent{
  margin-top: 20px;
  padding: 20px 30px;
  border: 1px solid blue;
}
#bubbleParent:hover{
  background: blue;
}
#bubbleChild{
  padding: 20px 30px;
  border: 1px solid red;
}
#bubbleChild:hover{
  background: red;
}

.loadedImage{
  transform: rotate(90deg);
  transition: 0.5s;
}

ul{
   list-style-type: none;
   padding-left: 0;
   width: 20%;

}
ul li{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content:  space-between;
   margin-bottom: 15px;
}
ul li span{
  display: inline-block;
  margin-right: 30px;
}
