
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
*{
    box-sizing: border-box
}
/* Start Pop-up */

.cinema__pop-up{
    display: inline-block;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
    transition: 0.3s;
}
.cinema__pop-up.hide{
    transform: translateX(100%);
    opacity: 0;
}
.order-menu{
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: #33a5e8;
    transition: 0.3s;
    padding: 40px 10px 0 10px;
}
.order-menu.open{
    transform: translateX(0)
}
.cinema__input{
    display: inline-block;
    width: 100%;
    height: 35px;
    border: 1px dashed #000;
    margin-bottom: 20px;
    font-size: 16px;
    padding-left: 15px;
}

.cinema__submit{
    display: inline-block;
    width: 100%;
    height: 45px;
    font-size: 16px;
    background-color: green;
    color: #000;
}
.cinema__submit.disable{
    opacity: 0.8;
    background-color: #c1c1c1;
    cursor: default;
    pointer-events: none;
}
.cinema-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 20px 20px 20px;
    position: relative;
    transform: translateX(-200%);
    transition: 0.3s;
}
.cinema-display.show{
    transform: translateX(0);
}
.cinema-display.move{
    transform: translateX(16%);
    width: 75%;
    align-content: space-around;
}
.display{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    width: 90%;
    height: 20px;
    background: blue;
}
.one-place{
    display: inline-block;
    flex: 1;
    height: 40px;
    border: 1px solid red;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 40px;
    position: relative;
    cursor: pointer;
}
.one-place.active-place{
    background-color: #33a5e8;
}
.one-place:nth-child(10n+11), .one-place:last-child{
    margin-right: 0;
}
.info-text{
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center
    color: #fff;
    font-size: 18px;
    align-items:center;
    font-weight: 400;
}
.info-block{
    display: inline-block;
    list-style: none;
    padding: 0;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    flex: 3
}
.order-point{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
}
.bold{
    font-weight: 600;
    margin-bottom: 6px;
}
.order-footer{
    flex: 1;
}
.order-call{
    display: inline-block;
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: none;
    color: #fff;
    background-color: #74e074;
    cursor: pointer
}
.order-total{
    display: inline-block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
    color: #fff;
    float: right;
}
.one-place.booked-place{
    background-color: red;
}
.row{
    display: flex;
    width: 100%;
    justify-content: center;
}
.row .one-place:not(:last-child){
    margin-right: 15px;
}